
.DS_Store
img/.DS_Store
mp3/.DS_Store
predicates-and-statements.pptx
~$predicates-and-statements.pptx
physical/mp3/predicate_space.m4a
physical/mp3/statement_space_air.m4a
physical/mp3/statement_space_happiness.m4a
physical/mp3/statement_space_ideas.m4a
physical/mp3/statement_space_light.m4a
physical/mp3/statement_space_rainbows.m4a
physical/mp3/statement_space_rice.m4a
physical/mp3/statement_space_sand.m4a
physical/mp3/statement_space_steam.m4a
